

body {
    /* background-image: url('360_F_122634964_zIlTTyZYBLM7oYB2P5P2kwpsxZaEFgI5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  */
    background-image: linear-gradient(to right, black , rgb(149, 41, 1));
}


svg {
    font-family: 'Chakra Petch', sans-serif;
    /* position: absolute;  */
    width: 100%; height: 100%;
  }
svg text {
    text-transform: uppercase;
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: orangered;
    font-size: 140px;
}
@keyframes stroke {
    0%   {
      fill: rgba(72,138,20,0); stroke: orangered;
      stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
    }
    70%  {fill: rgba(72,138,20,0); stroke: #fb840d; }
    80%  {fill: rgba(72,138,20,0); stroke: orangered; stroke-width: 3; }
    100% {
      fill: #fb840d; stroke: rgba(54,95,160,0); 
      stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
}

h2, p {
    color: orangered;
    text-align: center;
    font-family: 'Poppins', serif;
    font-size: 45px;
}

.content {
    margin-left: 13%;
    font-family: 'Raleway', serif;
}

p, ul, li{
    margin-right: 10%;
    font-size: 20px;
    color: rgb(249, 191, 83);
}
 
li {
    text-align: left;
    font-size: 20px;
    margin-bottom: 5%;
}

.opensource {
    width: 110%;
    font-family: 'Poppins', serif;
}

figure {
    margin-top: 10%;
    border: 4px #f48787 inset;
    padding: 4px;
    margin-left: 23%;
    width: 500px;
}
  
figcaption {
    background-color: black;
    color: orange;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.events {
    margin-top: 10%;
}

h3 {
    overflow: hidden;
    white-space: nowrap;
    /* margin: 0 auto; */
    font-size: 45px;
    color: orangered;
}

.events h3 {
    animation: typing 4s steps(40, end);
    animation-delay: 2s;
    animation-iteration-count: 5;

}

@keyframes blinking {
    50% { opacity:1 }
    100% { opacity:0 }
}

.cursor {
    animation: blinking 800ms infinite;
}

/* why should you show up for FOSS? */

.icons {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    margin-left: -5%;
    margin-top: 3%;
}

.fa-instagram {
    color: #fb0d7c;
}

.fa-github {
    color: rgb(239, 17, 239);
}

.fa-twitter {
    color: lightblue;
}

.fa-linkedin {
    color: rgb(86, 74, 167);
}

.fa { 
    padding: 2px; 
    font-size: 40px; 
    width: 40px; 
    text-decoration: none; 
    /* margin: 5px 80px;  */
} 


.footer:hover {
    text-shadow: 5px 5px 15px rgb(255, 213, 0);
}

.fa:hover {
    opacity: 0.45;
}

.footer {
    color: rgb(253, 142, 105);
    text-shadow: #d9730d 0px 0px 10px;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px orange inset;
    justify-content: space-around;
    align-items: center;
    margin-left: -5%;
}

.maincontainer p {
    color:rgb(248, 165, 113);
}

.eventone, .eventtwo, .eventthree {
    display: flex;
    flex-direction: column;
    width: 100px;
}

/* add pagination */

.gridmain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 1550px;
    margin-left: -2%;
    gap:10px;
}

.gridmain img {
    width: 350px;
    height: 170px;
}

.gallery h3 {
    font-family: 'Quicksand', sans-serif;
}

.pic4{
    grid-area: 2/1/4/2;
}

.pic6{
    grid-area: 2/3/4/4;
}

.pic2{
    grid-area: 1/2/3/3;
}

.pic10{
    grid-area: 5/1/6/4;
}

.gridmain img{
    border-radius: 50%;
}
.gridmain .pic4 img, .gridmain .pic6 img, .gridmain .pic2 img{
    height: 340px;
}

.pic8 img, .pic10 img, .pic6 img, .pic1 img{
    border-radius:0;
}


.pic10 img {
    width: 1050px;
    height: 440px;
}

.end {
    height: 30vh;
    margin-left: -15%;
    padding: 10px;
    border: 2px outset rgb(215, 77, 12);
    box-shadow: #f8a451 0px 0px 10px;
    margin-bottom: 0;
    margin-top: 10%;
}

.imp p, p a {
    text-align: left;
    background: linear-gradient(to left, rgb(254, 230, 142), rgb(255, 80, 17));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.faqs h2{
    font-family: 'Zeyada', sans-serif;
}

.faqs p {
    font-family: 'Zeyada', sans-serif;
    text-align: left;
    font-size: 40px;
}

p.ans {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 23px;
}

p.q {
    color: rgb(247, 120, 85);
}